<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="agv2">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.28857 -0.40803 0.27532"
        rpy="0 0 0" />
      <mass
        value="36.72" />
      <inertia
        ixx="0.60468"
        ixy="4.2841E-06"
        ixz="8.6355E-09"
        iyy="1.0089"
        iyz="5.0394E-10"
        izz="1.4554" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://agv2/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://agv2/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="base">
    <inertial>
      <origin
        xyz="1.6653E-16 0.50105 -0.00024658"
        rpy="0 0 0" />
      <mass
        value="206.91" />
      <inertia
        ixx="22.343"
        ixy="2.7729E-16"
        ixz="7.9479E-16"
        iyy="7.6333"
        iyz="-0.025308"
        izz="19.801" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://agv2/meshes/base.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://agv2/meshes/base.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1"
    type="fixed">
    <origin
      xyz="0.28857 -0.40803 1.3574"
      rpy="-1.5708 0 -1.5708" />
    <parent
      link="base_link" />
    <child
      link="base" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>